/* Add custom CSS styles */

/* .booked-appointments {
  margin-top: 20px;
  max-height: 500px; 
} */

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  /* overflow-y: scroll; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.table thead {
  background-color: #338ce4;
  color: white;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f8f9fa;
}

table thead {
  position: sticky;
  top: 30px;
  background-color: #f0f0f0; /* Optional: Change background color */
  z-index: 1; /* Ensure header appears above table body */
}

/* Make the table responsive */
@media screen and (max-width: 600px) {
  .table {
    overflow-x: auto;
  }
}

.booked-appointmentsheader {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: x-large;
  color: yellow;
}

.actionbtn {
  display: flex;
  flex-direction: row;
  gap: 5px; /* Add a gap of 2px between flex items */
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.table-container {
  max-height: 300px; /* Set maximum height for the container */
  overflow-y: auto; /* Add vertical scroll bar */
}
