.disabled-button {
  cursor: not-allowed;
  border-style: none;
}
.disabled-button:hover {
  cursor: not-allowed;
}

.approveBtn {
  color: #0a642c;
  border-style: none;
  background-color: transparent;
}

.rejectedBtn {
  color: rgb(205, 46, 46);
  border-style: none;
  background-color: transparent;
}
.icon {
  height: 100px;
  width: 10px;
  font-weight: 900;
}

.deleteIconBtn {
  border-style: none;
  background-color: transparent;
}
