

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-color: rgb(236, 244, 241);
  }
  
  .Header1 {
    height: 60px; 
    background-color: #333; 
    color: white;
    text-align: center;
    line-height: 60px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }
  
  .sidebar-and-content {
    display: flex;
    width: 100vw;
    /* flex: 1;   */
   
    justify-content: flex-start; 
    align-items: center; 
    background-color: blue;
    height: 100vh;
    overflow-y: auto;
    
  }
  
  
  
  .main-container {
    /* flex: 1;  */
    margin-left: 92px; 
    padding:10px; 
    overflow-y: auto;
    height:100%;
    /* width: 100%; */
    flex-shrink: 1;
   

  }
  /* styles.css or any other stylesheet */
.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure layout fills entire viewport */
  }
  
  .sidebar-and-content {
    display: flex;
    /* flex: 1; */
     /* Sidebar and main-container share remaining space */
  }
  
  /* .Sidebar {
    width: 200px; 
    background-color: #f4f4f4; 
  } */
  
  .main-container {
 /* flex: 1;  */
    /* 
    
    Allow main container to grow and shrink */
    overflow-y: auto;            /* Enable vertical scrolling if content overflows */
    background-color: red;
    padding: 20px;
    flex-shrink: 1;
    display: flex;
  }
  /* ------------------ */
  