.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  align-self: center;
  height: 60vh;
  /* background-color: red; */
}

.booked-appointments-title {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 500;
}
