.user-logo-dropdown-header {
  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: center;
  flex-grow: 0;
  align-items: center;
  background-color:#00246b;
}

.logoand-account-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  /* padding-left: 10px; */
  padding-right: 10px;
}

.Sidebar {
    /* min-width: 60px; 
    max-width: 150px; */
    background-color: #7f96b8; 
    /* position: fixed;
    top: 60px; 
    bottom: 0;
    left: 0;
    overflow-y: auto; 
    height: 100%;
    margin-top:20px;
    padding: 10px;
    border-radius: 5px;
    flex-shrink: 0; */
    
  }
.horizontal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: #00246b;
    color: white;
    align-items: center;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}
.admin-icon{
    background-color: #e4e7ec;
    padding: 5px;
    border-radius: 5px;
}
.admin-icon:hover{
    background-color: #00246b;
    color: white;
    cursor: pointer;
}
