.nav-tabs-menu-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.nav-menu-item {
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
}
.nav-link-items {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.user-logo {
  width: 45px;
  height: 45px;
  background-color: #007bff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

  text-transform: uppercase;
  color: white;
  font-weight: 800;
}
.user-name {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-right: 1px;
  padding: 6px;
  text-transform: capitalize;
}
.logo-email-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-top: 10px;
}
.user-logo-dropdown{
  display: flex;
  flex-direction: row;
}

.nav-headers {
  display: flex;
  flex-direction: row;
  background-color: #00246b;
  justify-content: space-between;
  padding: 2px;
}
