.navbar1 {
  background-color: #4caf50; /* Green background color */
  color: white; /* Text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.salon_title {
  margin: 0;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold; /* Make the font bold */
}
.links {
  display: flex;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #0a010180;
}
