/* .booking-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */

.form-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}
.book-an-appointment {
  /* border-style: dotted; */

  border-radius: 10px;
  /* border-color: pink; */
  /* margin-left: 70px; */
  padding: 20px;
  flex-grow: 1;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
}

.submit-btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 480px) {
  .booking-form-container {
    width: 90%;
  }
}

.submit-btn:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}
