.dataTables {
  flex-grow: 2;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 20px;
  overflow-y: auto;
  align-self: center;
  align-items: center;
  padding-top: 100px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 0px;
  overflow: auto;
}

.viewonlys {
  overflow-y: scroll;
}

.search {
  height: 32px;
  width: 200px;
  border-radius: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e22121;
  padding: 3 32px 0 16px;
  margin-bottom: 10px;
  align-self: flex-end;
}
