.barber-application-form-container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 20px;
}
.barber-application-form-container h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #007bff;
  font-size: 20px;
}
.experience-container {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  width: 50%;
}
.label-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 400px;
}

.label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.icons {
  font-size: 90px;
  margin-right: 10px;

  height: 35px !important;
  width: 35px !important;
  /* background-color: red; */
  margin: 5px;
}
.icons:hover {
  color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 3px;
  border-style: solid;
}

.modalss {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  padding: 20px;
  border: 1px solid #888;

  border-radius: 10px;
  overflow: auto;

  transition: all 0.3s ease;
}

.modal-contents {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
  border-radius: 10px;
  border-style: solid;
  background: linear-gradient(to right, #007bff, #87ceeb);
  border-style: solid;
  overflow: hidden;
  transition: all 0.3s ease;
}
.small-popup {
  max-width: 300px;
}

.large-content {
  min-width: 600px;
}
.modal-contents h2 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}
.modal-contents p {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}
.modal-button-container {
  text-align: center;
}

.modal-button {
  margin: 10px;
}

.icons {
  position: relative;
}

.icons::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: black;
  /* color: white; */
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 3px;
}

.icons:hover::after {
  opacity: 1;
}

/* .delete-confirmation-card {
  padding: 10px;
  width: 100%;
} */
