

.signup-form-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
}


.formstyle {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 80%;
  opacity: 100;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  background-color: white;
}

@media screen and (min-width: 567px) {
  .registration-form {
    justify-content: space-between;
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .registration-form {
  
    justify-content: space-between;
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .registration-form {
    justify-content: space-between;
    width: 33%;
  }
}

.signup-btn {
  align-self: center;
}

.signup-btn {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
.error-message {
  color: red;
  font-family: "Times New Roman", Times, serif;
}

.registrationForm-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.signup-title {
  color: rebeccapurple;
  background-clip: text;
  font-size: 20px;
  text-align: center;
  font-family: "roboto";
  font-weight: 700;
}
@media screen and (min-width: 767px) {
  .signup-title {
    font-size: 25px;
  }
}
.input-label-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  font-size: 10px;
  padding-right: 5px;
  padding-top: 0px;
}
.form-label {
  font-size: 10px;
  margin-bottom: 0px;
}
@media screen and (min-width: 767px) {
  .form-label {
    font-size: 15px;
  }
}

.form-control {
  font-size: 14px;
  height: 30px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 7px 14px 6px 14px;
}
@media screen and (min-width: 768px) {
  .form-control {
    font-size: 15px;
   
  }
}

.checkbox-labels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: start;
  align-items: flex-start;
 
}

.checkbox-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 5px;
 
}
.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 10px;
}

.loginPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(197, 208, 188);
  border-radius: 100px;
}
