.barber-image {
width: 200px;
height: 250px;
  object-fit: cover;
  border-radius: 10px;
}


.name-email-contact {
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.barber-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  transition: background-color 0.3s, transform 0.3s;
  
}
.barber-card:hover {
  background-color: var(--blue-dark);
}
.barber-card:hover {
  border-color: #007bff;
  transform: translateY(-5px);
}
.barber-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.barber-details {
  text-align: left;
}

.barber-details p {
  margin: 5px 0;
}
.barber-details p.email {
  margin: 5px 0;
  white-space: nowrap; 
}