@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-popups/styles/material.css";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "roboto";
  font-family: "Roboto", sans-serif;
}
:root {
  /* Colors */
  --primary-color:#00246B;          /* Navbar Background Color */
--text-color: #333333;             /* Text Color on Navbar */
--button-color: white;

  --secondary-color: #2c3e50;
  --text-color: #333333;
  --form-input-color: #FDF6F6;
  --header-background: #ffffff;
  --footer-background: #00246B;

  --nav-background: #00246B;
  --nav-text:#FDF6F6;


 
  --flex-container: {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  --flex-column-container: {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  };

  --flex-row-container: {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  };
}


body {
color: var(--text-color);
background-color: var(--header-background);
}

.header-bottom {
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
background-color: var(--primary-color);
}

.home-section-bgimg {
background-image: url("./assets/images/hero-banner.jpg");
background-size: cover;
height: 100vh;
color:var(--header-background);
}
.home-container {
display: flex;
flex-direction: column;
justify-content: center;
border-style: solid;
height: 100vh;
align-items: flex-start;
padding: 200px;
}
.baraber-title-head {
font-size: 100px;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
text-align: left;
color: #fff;
width: 500px;
}
.hero-text {
color: #fff;
font-size: 20px;
font-family: "Courier New", Courier, monospace;
margin-bottom: 20px;
}

.pricing-section {
background-image: url("./assets/images/pricing-bg.jpg");
}

.container {
display: flex;
justify-content: center;
align-items: center;
padding: 5px 10px;
}

.logo {
font-size: 1.5rem;
text-decoration: none;
color: #FDF6F6;
font-weight: bold;
display: flex;
flex-direction: column;
text-transform: uppercase;
margin-right: 30px;
}

.logo span {
font-size: 15px;
color: #007bff;
text-decoration: underline;
}

.navbar-list {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

.navbar-item {
margin-right: 20px;
text-transform: uppercase;
color: #fff;
}

.navbar-link {
text-decoration: none;
color:var(--nav-text);
font-weight: bold;
font-size: 1rem;
transition: color 0.3s ease;
}

.navbar-link:hover {
color:  #FDF6F6;
}

.nav-toggle-btn {
background: none;
border: none;
cursor: pointer;
font-size: 1.5rem;
display: none;
}

.btn {
text-decoration: none;
color:black;
background-color:var(--button-color);
padding: 10px 10px;
border: none;
border-radius: 5px;
font-weight: bold;
transition: background-color 0.3s ease;
display: flex;
justify-content: center;
align-items: center;
}

.btn:hover {
background-color: #0056b3;
}

@media (max-width: 768px) {
.navbar-list {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1;
}

.navbar-list.active {
  display: flex;
}

.navbar-item {
  margin: 0;
}

.nav-toggle-btn {
  display: block;
}

.btn {
  margin-top: 10px;
}
}

.service-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px;
}

.grid-list {
list-style-type: none;
padding: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
overflow-y: auto;
padding: 30px;
}

.service-card {
border: 1px solid hsl(0, 0%, 80%);
border-radius: 10px;
box-shadow: 5px 5px 5px hsla(0, 0%, 0%.0.1);
padding: 20px;
margin-bottom: 30px;
margin-right: 30px;
max-width: 340px;
max-height: 400px;
display: flex;
display: inline-block;
justify-content: flex-start;
align-items: flex-start;
flex-grow: 1;
font-family: "roboto";
}

.service-card:hover {
transform: translateY(-5px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-icon {
background-color: #007bff;
padding: 20px;
}

.card-icon i {
color: #fff;
font-size: 24px;
}

.h3 {
margin: 10px 0;
font-size: 18px;
}

.card-title {
font-size: 30px;
text-decoration: none;
color: #070404;
font-weight: 700;
}

.card-text {
color: #666;
font-size: 18px;
}

.card-btn {
display: inline-block;
margin-top: 10px;
text-decoration: none;
padding: 8px 12px;
background-color: #007bff;
color: #fff;
border-radius: 5px;
transition: background-color 0.3s;
align-self: center;
}

.service-headder {
font-size: 40px;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
color: #070404;
text-transform: uppercase;
}
.service-section-text {
font-size: 20px;
font-weight: bold;
text-align: center;
margin-bottom: 10px;
color: #070404;
text-transform: capitalize;

width: 650px;
}
.appointment-container {
padding: 30px;
background-image: url("./assets/images/gallery-2.jpg");

background-size: cover, cover;
background-position: center, center;

display: flex;
flex-direction: column;
align-items: center;
}
.appointment-card-content {
background-color: #007bff;
padding: 50px;
width: 800px;
border-radius: 10px;
}

.appointment-head {
font-size: 40px;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
color: #fff;
text-transform: uppercase;
}
.appointment-content {
font-size: 20px;
font-weight: bold;
text-align: center;
margin-bottom: 10px;
color: #fff;
text-transform: capitalize;

width: 650px;
}

.site-footer {
background-color: rgb(38, 0, 255);
}
/* Footer.css */

.social-media-logos {
display: flex;
justify-content: center;
margin: 20px 0;
}

.social-icon {
font-size: 30px;
margin: 0 10px;
}

/* Copyright Notice */
.copyright-text {
font-size: 14px;
color: rgb(13, 13, 13);
text-decoration: none;
}

.copyright-text a {
color: rgb(241, 233, 233);
text-decoration: none;
margin-left: 5px;
}

/* Container */
.footer-container {
padding: 20px;
background-color: var(--primary-color);
text-align: center;
color: var(--text-color);
}
